.app.dark {
    --bg-color: #7d7d7d;
    --inverted-bg-color: #c0e331;

    --primary-color: #43155a;
    --secondary-color: #c2ca7a;
    --inverted-primary-color: #e6f844;
    --inverted-secondary-color: #1d1e16;
    

}