.app.light {
    --bg-color: #fdfdfd;
    --inverted-bg-color: #19a6ab;
    --primary-color: #e6f844;
    --secondary-color: #1d1e16;
    --inverted-primary-color: #43155a;
    --inverted-secondary-color: #c2ca7a;
}
